/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Contenedor de Login */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
}

.login-container, .dashboard-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
    width: 500px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #000000;
}

/* Grupos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: right;
}

.input-group label {
    color: #000000;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* Botón de acción */
.btn {
    background: #ff0000;
    color: #000000;
    padding: 10px 5px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.btn:hover {
    background: #55ff01;
}

/* Mensaje de error */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

.logout {
    background: #dc3545;
}

.logout:hover {
    background: #c82333;
}
